         * {
    box-sizing: border-box;
}
body {
    background-color: #f2f2f2;
    font-family: "Helvetica", sans-serif;
}
h1 {
    font-family: 'Roboto';
    color: #45a049;
    margin-top: 0;
    text-align: center;
}
p {
    font-family: 'Roboto';
    color: blue;
}

.container {
    background-color: white;
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}
input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px 0;
    width: 100%;
    
}
button {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    width: 100%;
    font-size: 18px;
    border-radius: 8px;
    text-transform: uppercase;
    transition: background-color 0.2s ease;
    
}
button:hover {
    background-color: #00af09;
    transition: 0.2s;
}
#total {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: blue;
}
i{
    position: absolute;
    font-size: 20px;
    margin-left: 530px;
    color: green;
    cursor: pointer;
    margin-top: 20px;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../FONT/Ubuntu-Medium.ttf');
}
@font-face {
    font-family: 'Momo';
    src: url('../FONT/MomoTrustDisplay-Regular.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('../FONT/Roboto-Bold.ttf');
}