* {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
body {
            font-family: "Ubuntu", sans-serif;
            background-color: #f2f2f2;
            padding: 20px;
            margin: auto;
        }
        .placeholder {
            color: #888;
            font-family: "ubuntu", sans-serif;
        }
        h1 {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
            color: green;
        }
        label {
            display: block;
            margin-top: 10px;  
            font-weight: bold;
            color: #418a33;
        }
        input {
            margin-top: 5px;
            padding: 8px;
            width: 350px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        button {
            margin-top: 15px;
            padding: 10px 15px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 9px;
            margin-left: 132px;
            cursor: pointer;
        }
        button:hover {
            background-color: #276439;
        }
        form {
            max-width: 400px;
            margin: auto;
            padding: 20px;
            border-radius: 9px;
            background-color: #ffffff;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        .container {
            max-width: 600px;
            margin: auto;
            /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
            border-radius: 5px;
        }
        i{
            margin-left: 75;
        }
        